<%- include ('../partials/_header.ejs')  %>
<nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light py-2">
    <span class="container">
        <h3 class="title">Book Details</strong></h3>
    </span>
    <span>
                <a href="/books" class="btn btn-sm btn-primary btn-tooltip">Back to Store</a>
            </span>
        </nav> 
                <div class="section features-6">
                    <div class="container">
                        <div class="row align-items-center">
                        </div>
                        <div class="section section-components">
                            <div class="container">
                                
                                <h2 class="display-6 text-success text-center"><%= book.title %></h2>
                        </div>
                    </div>
                    <center><img style="width: 18rem;" src="<%= book.image %> " alt="" class="view-img-book img-responsive">
                <div class="col-md-8">    
                    <hr class="my-2">
                    <p><%= book.description %></p>

                    <h4>Price: ₹ <%= book.price %></h4>
                    <hr class="mb-2">
                    <% if(typeof user !== 'undefined' && user.role === 'admin'){ %> 
                        <a href="/books/edit/<%= book._id %>" class="btn btn-primary">Edit Details</a>
                        <form action="/books/delete/<%= book._id  %>?_method=DELETE" class="d-inline" method="POST">
                            <button type="submit" class="btn btn-danger">Delete Book</button>
                        </form>
                    <% }else if(typeof user === 'undefined' || typeof user !== 'undefined' && user.carts.findIndex(item=> item.book.equals(book._id))===-1){ %> 
                    <form action="/users/cart/<%= book._id  %>?_method=PUT" class="d-inline" method="POST">
                        <button type="submit" class="btn btn-primary">Add to Cart</button></center>
                    </form>
                <% }else{ %>
                    <p class="lead text-secondary">This item is already in Your Cart</p>
                    <a href="/users/dashboard" class="btn btn-primary d-inline">Go to Cart</a>
                <% } %>  
                </div>
            </div>
        </div>
        
    </div>
        <div class="jumbotron p-3">
            <div class="d-flex justify-content-end">
                <a href="/books/<%= book._id  %>/comments/new" class="btn btn-secondary">Add a Comment</a>
            </div>
            <div class="container mt-2">
                <ul class="list-group">
                    <% book.comments.forEach(comment=>{ %>
                        <li class="list-group-item">
                            <span class="lead text-primary capital font-weight-bold"><%= comment.author.name  %></span>
                            <p class="text-dark font-weight-bold"><%= comment.title  %> </p>
                            <p><%= comment.content  %> </p>
                            <p class="text-secondary"><%= comment.createdAt.toLocaleDateString()  %> <%= comment.createdAt.toLocaleTimeString()  %></p>
                            <% if(typeof user !== 'undefined' && comment.author.id.equals(user._id)){ %> 
                                <a href="/books/<%= book._id  %>/comments/<%= comment._id %>/edit" class="btn btn-warning">Edit Comment</a>
                                <form action="/books/<%= book._id %>/comments/<%= comment._id %>/delete?_method=DELETE" class="d-inline" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete Comment</button>
                                </form>
                            <% } %> 
                        </li>
                    <% }) %>
                </ul> 
            </div>
        </div>
    </div>
<%- include ('../partials/_footer.ejs')  %> 