<%- include ('../partials/_header.ejs') %>
<nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light py-2">
    <span class="container">
      <h3 class="title">Welcome <strong class="capital"><%= user.name  %> </strong></h3>
        </span>
    <span>
        <a href="/books" class="btn btn-sm btn-primary btn-tooltip">Go to Store</a>
        <a href="/users/orders" class="btn btn-sm btn-primary btn-tooltip">Your Orders</a>
          <a href="/users/logout" class="btn btn-sm btn-warning">Log Out</a>  
    </span>
  </nav>
  <div class="section features-6">
      <div class="container">
            <div class="row align-items-center">
            </div>
        <div class="section section-components">
          <div class="container">
            <div class="display-3" style="font-size: 25px;">
            <center><span>Cart <%= user.carts.length === 0 ? 'is empty' : '' %>  </span></center>
                <% if(user.carts.length !== 0)  {%> 
            <% } %> 
            </div>  
          </div>
        
            <div class="container">
              <div class="row">
                <div class="col-12">
                <table class="table table-image">
                    <thead>
                      <tr class="table-primary">
                        <th scope="col">Cover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                  
                    <tbody>
                        <% user.carts.forEach(cartItem=>{ %>
                                <tr>
                                    <td><img src="<%= cartItem.book.image  %>" alt="Book Cover" class="img-thumbnail" style="height: 8rem; width: 8rem;"></td>
                                    <td><%= cartItem.book.title  %> </td>
                                    <td>₹ <%= cartItem.book.price  %> </td>
                                    <td>
                                        <form action="/users/cart/<%= cartItem.book._id  %>/delete?_method=DELETE" class="d-inline" method="POST">
                                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                        <% }) %>
                      
                    </tbody>
                  
                  </table>
                </div>
              </div>
  <center>                <button type="button" class="btn btn-1 btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Checkout
              </button></center>
                </div>
        </div>
        
        
        <% if(user.carts.length !== 0)  {%> 
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Set Quantity of products</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/users/checkout">
        <div class="modal-body">
            <div class="container">
                <table class="table table-image">
                    <thead>
                      <tr class="table-primary">
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% user.carts.forEach(cartItem=>{ %>
                                <tr>
                                    <td><%= cartItem.book.title  %> </td>
                                    <td>₹<%= cartItem.book.price  %> </td>
                                    <td>
                                        <select
                                            name="<%= cartItem.book._id %>"
                                            class="form-control">
                                            <% for(let i=1;i<=cartItem.book.quantity;i++){ %>
                                                <% if(cartItem.quantity === i){ %>
                                                    <option selected><%= i %></option>
                                                <% }else{ %>
                                                      <option><%= i  %> </option>
                                                <% } %> 
                                            <% } %>
                                        </select>
                                    </td>
                                </tr>
                        <% }) %> 
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Go To Checkout</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<% } %> 
  </div>

        <%- include ('../partials/_footer.ejs') %>